* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
  }

  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }

.container-fullwidth-primo{    /* Stile per i 3 container-fullwidth */
    background-color: #0D325A;
}
.container-fullwidth-secondo{    /*DA CANCELLARE*/
    background-color: gray;
}

.container-maxwidth{       /*stile unico per container centrale*/
    width: 80%;

    max-width: 1280px;
    margin: 0 auto;
}

header{                    /* Stile per elementi primo container */
    padding: 0 20px;
    padding-top: 3px;

}

header img, header nav, nav li{
    display: inline-block;
    float: left;
    line-height: 50px;
}

.destro{                    /*stile elementi a destra dell'header*/
    display: inline-block;
    float: right;
    line-height: 50px;
    font-size: small;
}

.destro #piano{
    background-color: #7FB802;
    color: #ececec;
}

nav{                        /*stile nav e link*/
    margin-left: 40px;
}

a{
    text-decoration: none;
    padding: 0 10px;
    list-style: none;
    font-size: 14px;
    color: #ececec;
}

.banner{                    /*stile banner ed elementi*/
    margin-top: 20px;
}

#titolo{
    display: inline-block;
    transform: translateY(20%);
}

#titolo h1{
    font-size: 40px;
    color: #ececec;
}

#titolo a{
    margin-top: 20px;
    border: 1px solid #ececec;
    background-color: #7FB802;
    color: #ececec;
}
#uomini{
    position: relative;
    left: 15%;
    float: right;
    width: 50%;
    height: 50%;
}
