* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
  }

  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }

.container-fullwidth-primo{    /* Stile per i 3 container-fullwidth */
    background-color: #0D325A;
}


.container-maxwidth{       /*stile unico per container centrale*/
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

header{                    /* Stile per elementi primo container */
    padding: 0 20px;
    padding-top: 14px;

}

header img, header nav, nav li{
    display: inline-block;
    float: left;
    line-height: 50px;
}

.destro{                    /*stile elementi a destra dell'header*/
    display: inline-block;
    float: right;
    line-height: 50px;
    text-transform: uppercase;
}

#login{
    border: 1px solid #ececec;
    border-radius: 3px;
    padding: 6px 10px;
    margin-left: 10px;
}
 #piano{
    background-color: #7FB802;
    border: 1px solid #7FB802 ;
    border-radius: 3px;
    padding: 6px 10px;
    color: #ececec;
}

nav{                        /*stile nav e link*/
    margin-left: 20px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 5px;
    list-style: none;
    font-size: small;
    color: #ececec;
}

.banner{                    /*stile banner ed elementi*/
    margin-top: 20px;
}

#titolo{
    display: inline-block;
    transform: translateY(20%);
}

#titolo h1{
    font-size: 40px;
    color: #ececec;
    margin-bottom: 50px;
}

#titolo a{
    border-radius: 3px;
    padding: 15px 10px;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #7FB802;
    color: #ececec;
}
#uomini{
    position: relative;
    left: 20%;
    float: right;
    width: 60%;
    height: 40%;
}

.testo{                      /*stile testo container centrale*/
    margin-top: 30px;
    text-align: center;
    line-height: 2;
}

.testo p{
    color: gray;
}

 .box{                     /*stile elementi terzo container */
     margin-top: 50px;
     display: inline-block;
     }

.content{
    width: 33.33%;
    padding: 0 50px;
    display: inline-block;
    text-align: center;
    float: left;
}

.content img{
    height: 150px;
    object-fit: contain;
    margin-bottom: 50px;
}

.content p, hr{
    color: gray;
}

.content h4{
    font-size: 20px;
    color: #7FB802;
}
hr{
    margin: 20px 100px;
    border: 1px solid;
}

header a:hover, #titolo a:hover{
    border: 1px solid orange;
    border-radius: 3px;
    background-color: orange;
    opacity: 0.9;
}
